@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@{
    ViewBag.UserToken = HttpContextAccessor.HttpContext.Session.GetString("_usertoken");
    if (ViewBag.UserToken == null)
    {
            { await Html.RenderPartialAsync("UnAuthorized.cshtml"); }

            <main role="main" class="pb-3">
                @{
                    IgnoreBody();
                }
            </main>
        
    }  
    else
    {


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaxiBookingServiceUI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>


<body>
    <header class="navigation">
        <nav class="navigation navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Driver" asp-action="Index">TaxiBookingService</a>
                <div class="navigation navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <button onclick="@("window.location.href='" + @Url.Action("UserBooking", "Booking") + "'");" class="dropbtn">Book Ride</button>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" style="margin-right: 50px">Profile</button>
                    <div class="dropdown-content">
                        <a class="text-dark" asp-area="" asp-controller="User" asp-action="Profile">Visit Profile</a>
                        <a class="text-dark" asp-area="" asp-controller="User" asp-action="Login">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TaxiBookingServiceUI
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
}
}