@model TaxiBookingServiceUI.Models.AreaViewModel

@{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        console.log("change");
        $('#State').change(function () {
            var selectionval = (this.value);
            var markup = "<option value='0'>--Select City--</option>";
            console.log("change function selection" + selectionval)
            $("#City").html('');
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: "/Location/GetCities",
                data: { state: selectionval },
                success:
                    function (data) {
                        console.log(data);
                        for (var i = 0; i < data.length; i++) {
                            markup += "<option value=" + data[i] + ">" + data[i] + "</option>";
                            console.log("po" + data[i] + "sel" + selectionval)
                        }
                        $("#City").append(markup);
                        $("#locationCityDiv").show();
                    },
                error: function (data) {
                    alert("error" + data);
                }
            })
        });
    });
</script>

<h5>Edit</h5>

<hr />

<strong style="color:red">@TempData["errmsg"]</strong>
<strong style="color:green">@TempData["msg"]</strong>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label" hidden></label>
                <input asp-for="Id" class="form-control" type="hidden"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                @Html.DropDownList("State", new SelectList((List<string>)ViewBag.States), "--Select--", new { @id="State", @class="form-control"})
                <span asp-validation-for="State" class="text-danger"></span>
            </div>

            <div class="form-group" id="locationCityDiv">
                <label for="City">City</label>
                <div>
                    <select class="form-control" id="City" name="City" title="City"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pincode" class="control-label"></label>
                <input asp-for="Pincode" class="form-control" />
                <span asp-validation-for="Pincode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

