
@{
    ViewData["Title"] = "User Profile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h5>Index</h5>


<strong style="color: red">@TempData["errmsg"]</strong>
<strong style="color: green">@TempData["msg"]</strong>